header{
    padding: 1.6rem;
    div{
        img{
            cursor: pointer;
        }
        .user{
            width: 4rem;
            height: 4rem;
            border-radius: 4rem;
        }
        a:hover{
            color: var(--brand-color);
        }
    }
}

@media (width >= 80em){
    header{
        margin: 2rem 3.2rem;
        div{

            a{
                color: var(--text-color-secondary);
            }
        }
    }
    .container{
        max-width: 128rem;
    }
    .desktop-only{
        display: block;
    }
}